/*Styles Contact*/
.contact-section {
    background-color: var(--cor-background);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 5% 15%;
    box-shadow: 0 0 15px #720455;
}

.contact-title {
    font-size: 2.25rem;
    font-family: var(--font-one);
    font-weight: 300;
    color: var(--cor-title);
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(145, 10, 103, 0.3); 
}

.contact-subtitle {
    font-size: 1.5rem;
    font-family: var(--font-one);
    color: var(--cor-body);
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(3, 6, 55, 0.3);
}

.contact-text {
    font-size: 1rem;
    font-family: var(--font-two);
    color: var(--cor-body);
    text-align: justify;
    padding-left: 10px; 
    background-color: #f9f9f9; 
    border-left: 5px solid #720455; 
    padding: 15px; 
    margin-bottom: 20px; 
    box-shadow: 0 0 5px #720455;
    line-height: 1.6; 
    border-radius: 8px; 
}
.contact-text p {
    margin: 0; 
}

.contact-text::before {
    content: '💬'; 
    display: inline-block;
    margin-right: 10px; 
    font-size: 1.5rem;
    color: #720455; 
}

.contact-form {
    width: 100%; 
    max-width: 500px; 
    margin-top: 20px; 
}

.contact-form input,
.contact-form textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
    transition: border-color 0.3s ease; 
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #720455;
background: #f28ed778;
}


.button-contact {
    width: 105%; 
    padding: 12px; 
    background-color: #720455; 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;
}

.button-contact:hover {
    background-color: #4e0132; 
}

