/* Styles Curriculum */
.curriculum {
    background-color: var(--cor-body);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 5% 15%;
    box-shadow: 0 0 15px #720455;
}


.curriculum-title {
    font-size: 2.25rem;
    font-family: var(--font-one);
    font-weight: 300;
    color: var(--cor-title);
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(145, 10, 103, 0.3); 
}

.curriculum-subtitle {
    font-size: 1.2rem;
    font-family: var(--font-one);
    color: var(--cor-subtitle);
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.curriculum-objetive {
    font-size: 1.2rem;
    font-family: var(--font-one);
    color: var(--cor-body);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(3, 6, 55, 0.3); 
}

.curriculum-text {
    font-size: 1rem;
    font-family: var(--font-two);
    color: var(--cor-background);
    text-align: justify;
    list-style-image: url('circulo-preenchido.png');
    padding-left: 20px; 
}

.curriculum-text li a {
color: var(--cor-subtitle);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}


.button-curriculum {
    text-decoration: none;
    color: var(--cor-background);
    background: var(--cor-title-highlight);
    font-family: var(--font-two);
    font-size: 1rem;
    padding: 10px 20px; 
    border-radius: 4px ;
    border-color: var(--cor-title-highlight);
    transition: background-color 0.3s ease;
}

.button-curriculum:hover {
    background: var(--cor-subtitle);
    color: var(--cor-body);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--cor-subtitle), 
                0 0 50px var(--cor-subtitle), 
                0 0 100px var(--cor-subtitle),
                0 0 200px var(--cor-subtitle);
}

.curriculum-file {
    text-decoration: none;
    color: var(--cor-background);
    font-size: 1rem;
} 
