/*Styles Experiences*/

.experiences-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: var(--cor-body);
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 15px #720455; /* Alteração na cor do box-shadow */
    /* sombra suave */
    border-radius: 8px;
    /* cantos arredondados */
}

.experiences-title {
    font-family: var(--font-one);
    font-size: 2.25rem;    
    margin-bottom: 10px;
    text-align: center;
    color: var(--cor-title);
    text-shadow: 2px 2px 4px rgba(145, 10, 103, 0.3); /* Adiciona sombra ao texto */

}

.experiences-subtitle {
    font-size: 1rem;
    font-family: var(--font-one);
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--cor-subtitle);
}

.extracurricular-activities ul,
.experiences-professional ul {
    font-family: var(--font-two);
    list-style-image: url('circulo-preenchido.png');
    padding: 0;
    margin: 10px 10px;
    margin-top: 20px;
}

.extracurricular-activities li, 
.experiences-professional li {
    font-family: var(--font-one);
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    color:var(--cor-background) ;
    font-size: 0.8rem;
}

