/* Estilo para o cabeçalho */
header {
    padding: 2% 0% 0% 2%;
}

/* Contêiner do cabeçalho */
.header {
    display: flex; 
    align-items: center;
    height: 60px; /* Definindo um tamanho fixo */
}

/* Estilo para o menu de navegação */
.header ul {
    display: flex;
    gap: 30px;
    padding: 0; 
    margin: 0; 
    list-style: none; 
    margin-left: auto; 
}

.header ul li a {
    font-family: var(--font-two);
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-subtitle);
    text-decoration: none;
    padding: 5px 10px; 
    text-align: right;
}

.header ul li a:hover {
    color: var(--cor-hover);
    border-bottom: 2px solid var(--cor-hover); 
    font-size: 1.1rem; /* Aumenta o tamanho da fonte ao passar o mouse */
    padding: 5px 10px;
}


/* Styles Responsive */
@media (max-width: 1200px) {
    .header {
        padding: 10%;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .header {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
    }
    .header ul {
        flex-direction: column; 
        gap: 10px;
        margin-left: 0; 
    }
    .header ul li a {
        text-align: center; 
    }
}

@media (max-width: 576px) {
    .header {
        padding: 5%; 
        gap: 10px; 
    }
    .header ul {
        gap: 5px; 
    }
}
