/* Styles Header */

header {
    padding: 2% 0% 0% 2%;
    background-color: var(--cor-header-background); 
}

.header {
    display: flex; 
    align-items: center;
    min-height: 60px; 
    justify-content: space-between;
}

/* Style logo */
.logo img {
    max-height: 50px; 
    height: auto;
    width: auto;
}

/* Style nav */
.header ul {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
    display: none; 
    flex-direction: column; 
}

.header ul.active {
    display: flex; 
}

.header ul li {
    margin: 5px; 
}

.header ul li a {
    font-family: var(--font-two);
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-subtitle);
    text-decoration: none;
    padding: 5px 10px;
    text-align: right;
    display: block; 
}

.header ul li a:hover {
    font-size: 1.03rem; 
    background: var(--cor-subtitle);
    color: var(--cor-body);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--cor-subtitle), 
                0 0 50px var(--cor-subtitle), 
                0 0 100px var(--cor-subtitle),
                0 0 200px var(--cor-subtitle);
}


/* Ícon de hambúrguer */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #24d4fc;
    margin-right: auto; 
}

/* Styles Responsive */

/* < 1200px */
@media (max-width: 1200px) {
    .header {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
    }

    .header ul {
        display: none; 
        flex-direction: column; 
        gap: 10px;
        margin-left: 0; 
    }

    .header ul.active {
        display: flex; 
    }

    .header ul li a {
        text-align: center; 
    }

    .hamburger {
        display: block; 
        align-self: flex-start; 
    }
}

/* > 1200px */
@media (min-width: 1201px) {
    .header {
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        padding: 2% 0% 0% 2%;
    }

    .header ul {
        display: flex; 
        flex-direction: row; 
        gap: 30px;
        margin-left: auto; 
    }

    .hamburger {
        display: none; 
    }
}

@media (max-width: 992px) {
    .header ul {
        display: none; 
        flex-direction: column;
        gap: 10px;
        margin-left: 0; 
    }

    .header ul.active {
        display: flex; 
    }

    .header ul li a {
        text-align: center; 
    }
}

@media (max-width: 576px) {
    .header {
        padding: 5%; 
        gap: 10px; 
    }
    .header ul {
        gap: 5px; 
    }
}
