/* Styles Presentation */
.presentation {
    display: flex;
    padding: 5% 5%;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation-title {
    font-size: 2.25rem;    
    font-family: var(--font-one);
    text-align: center;
    color: var(--cor-body);
    
}

.title-highlight {
    color: var(--cor-subtitle);
}

.presentation-text {
    font-size: 1.5rem;
    font-family: var(--font-two);
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    padding: 1rem;
    max-width: 800px; /* Define a largura máxima para o contêiner */
}

.presentation-text-p {
    text-align: justify; /* Distribui o texto de forma justificada */
    margin: 0;
    line-height: 1.6; /* Ajusta o espaçamento entre linhas para melhor legibilidade */
}

.presentation-text a {
    text-decoration: none;
    color: var(--cor-subtitle);
}

.presentation-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation-links-subtitle {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-family: var(--font-one);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-subtitle);
    background: var(--cor-body);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 5px;
    letter-spacing: 4px;
    box-shadow: 0 0 15px #720455; /* Alteração na cor do box-shadow */
}

/* .presentation-links-subtitle:hover {
    background: var(--cor-subtitle);
    color: var(--cor-body);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--cor-subtitle), 
                0 0 50px var(--cor-subtitle), 
                0 0 100px var(--cor-subtitle),
                0 0 200px var(--cor-subtitle);
} */


/* .presentation-links-subtitle {
    font-family: var(--font-one);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-subtitle);
    background: var(--cor-body);
    
} */

.presentation-links-button {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-subtitle);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-subtitle);
    font-family: var(--font-two);
}

.presentation-links-button:hover {
    background: var(--cor-subtitle);
    color: var(--cor-body);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--cor-subtitle), 
                0 0 50px var(--cor-subtitle), 
                0 0 100px var(--cor-subtitle),
                0 0 200px var(--cor-subtitle);
}


.presentation-img {
    max-width: 40%;
}


/*Styles responsive*/

@media (max-width: 1200px) {
    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation-contet {
        width: auto;
    }

    .presentation-title {
        width: auto;
    }

    .presentation-conteudo-about {
        width: auto;
    }

}

@media (max-width: 992px) {

    .presentation {
        flex-direction: column;
        /* Altera a direção dos itens para uma coluna */
        padding: 5%;
        /* Adiciona preenchimento interno */
    }

    .presentation-contet {
        width: 100%;
        /* Define a largura do conteúdo como 100% */
    }


    .apresentacao-links-button {
        width: 100%;
        /* Define a largura do botão como 100% */
    }
}


@media (max-width: 576px) {
    .presentation-title {
        font-size: 1.5rem;
        /* Reduz o tamanho da fonte do título */
    }

    .presentation-text {
        font-size: 1.2rem; /* Reduz o tamanho da fonte em telas menores */
        padding: 0.5rem; /* Ajusta o padding em telas menores */
    }
    
    .presentation-text-p {
        line-height: 1.4; /* Ajusta o espaçamento entre linhas para telas menores */
    }

    .presentation-links-button {
        font-size: 1.2rem;
        /* Reduz o tamanho da fonte do botão */
    }

    .presentation-links-subtitle {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        font-family: var(--font-one);
        font-weight: 400;
        font-size: 1rem;
        color: var(--cor-subtitle);
        background: var(--cor-body);
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-top: 5px;
        letter-spacing: 4px;
        box-shadow: 0 0 15px #720455; /* Alteração na cor do box-shadow */
    }

    .presentation-links-button {
        width: 100%; /* Define a largura total */
        max-width: 200px; /* Define a largura máxima */
    }
}