/* Styles projects */

#full-stack,
#back-end,
#front-end {
    background-color: #e6e6e6;
    padding-top: 10px;
}


/* Syles Section Projects */

.project {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: translateY(-5px);
    /* Move o projeto para cima ao passar o mouse */
}

.project-title {
    font-family: var(--font-one);
    margin-bottom: 10px;
    text-align: center;
}

.project-subtitle {
    font-family: var(--font-one);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
}

.project h3 {
    font-family: var(--font-one);
    margin-top: 0;
    margin-bottom: 5px;
}

.project p {
    font-family: var(--font-two);
    color: var(--cor-text);
}

.project a {
    font-family: var(--font-two);
    color: #007bff;
    text-decoration: none;
}


/* Styles project details */

.project-details {
    display: none;
    margin-top: 10px;
}

.project-details h4 {
    font-family: var(--font-one);
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-details ul {
    font-family: var(--font-two);
    list-style-type: disc;
    padding: 0;
    margin: 10px 10px;
    margin-top: 20px;
}

.project-details li {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    color:var(--cor-text) ;
}