/* Styles projects */

#full-stack,
#front-end {
    background-color:#000 ;
    padding-top: 10px;
}

#back-end {
    background-color: #000;
    padding-top: 10px;
}

#full-stack,
#front-end,
#back-end {
    color: var(--cor-body);
}


/* Syles Section Projects */

.project {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project:hover {
    box-shadow: 0 0 20px #720455; /* Alteração na cor do box-shadow */
    cursor: pointer;
    transform: translateY(-5px);
    /* Move o projeto para cima ao passar o mouse */
}

.project-title {
    font-family: var(--font-one);
    font-size: 2.25rem;    
    margin-bottom: 10px;
    text-align: center;
    color: var(--cor-title);
    text-shadow: 2px 2px 4px rgba(145, 10, 103, 0.3); /* Adiciona sombra ao texto */

}

.project-subtitle {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: var(--font-one);
    font-weight: 400;
    font-size: 1.5rem;
    color: #24d4fc;
    text-shadow: 2px 2px 4px rgba(3, 6, 55, 0.3); /* Adiciona sombra ao texto */

}

.project img {
    max-width: 100%;
    height: auto;
}

.projeto-imagem-piscineiro, 
.projeto-imagem-tecnico {
    max-width: 40%;
    height: auto;
}

.project h3 {
    font-family: var(--font-one);
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--cor-title-highlight);
}

.project p {
    font-family: var(--font-two);
    color: var(--cor-text);
}

.project a {
    font-family: var(--font-two);
    color: #007bff;
    text-decoration: none;
}


/* Styles project details */

.project-details {
    display: none;
    margin-top: 10px;
}

.project-details h4 {
    font-family: var(--font-one);
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-details ul {
    font-family: var(--font-two);
    list-style-type: disc;
    padding: 0;
    margin: 10px 10px;
    margin-top: 20px;
}

.project-details li {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    color:var(--cor-text) ;
}




