.skills {
    font-size: 1.5rem;
    font-family: var(--font-one);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5%;
}

.skills-title {
    text-align: center;
    margin-bottom: 40px;
    background: var(--cor-body);
    color: var(--cor-title);
    padding: 10px;
}

#skills h1 {
    font-size: 2.25rem;
    font-family: var(--font-one);
    text-align: center;
    color: var(--cor-subtitle);
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(145, 10, 103, 0.3);
}

.skills-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.skills-box {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: var(--cor-background);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    box-shadow: 0 0 15px #720455;
}

.skills-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.skills-box ul li {
    margin-bottom: 10px;
}

.skills-name {
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-one);
    color: var(--cor-subtitle);
}

.skills-img {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .skills-box img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 992px) {
    .skills-line {
        justify-content: center;
        gap: 15px;
    }

    .skills-box {
        width: 120px;
        height: 120px;
    }

    .skills-name {
        font-size: 0.8rem;
    }

    .skills-box img {
        max-width: 80%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .skills {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .skills-name {
        font-size: 0.8rem;
    }

    .skills-box img {
        max-width: 50%;
        height: auto;
    }
}
